openapi: 3.1.0
info:
  title: TCG ERP API
  version: 1.0.0
  description: |
    Especificación completa de la API para el sistema TCG ERP.
    Extraída del código del frontend, mocks MSW y fixtures.
  contact:
    name: TCG ERP Team
servers:
  - url: https://api.tcg-erp.com/v1
    description: Producción
  - url: http://localhost:3001/api
    description: Desarrollo local

tags:
  - name: products
    description: Gestión de productos TCG
  - name: inventory
    description: Gestión de inventario y stock
  - name: recepciones
    description: Recepciones de productos
  - name: transferencias
    description: Transferencias entre sucursales
  - name: proveedores
    description: Gestión de proveedores
  - name: sales
    description: Ventas y transacciones
  - name: orders
    description: Órdenes de clientes
  - name: customers
    description: Gestión de clientes
  - name: accounting
    description: Contabilidad y libros contables
  - name: rrhh
    description: Recursos Humanos
  - name: admin
    description: Administración del sistema
  - name: forecast
    description: Proyecciones y forecast de ventas
  - name: reports
    description: Reportes y estadísticas
  - name: dashboard
    description: Dashboard y métricas

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Token JWT de autenticación

  parameters:
    page:
      name: page
      in: query
      description: Número de página (1-based)
      schema:
        type: integer
        minimum: 1
        default: 1
    pageSize:
      name: limit
      in: query
      description: Tamaño de página
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
    sortBy:
      name: sortBy
      in: query
      description: Campo por el cual ordenar
      schema:
        type: string
    sortDir:
      name: sortOrder
      in: query
      description: Dirección de ordenamiento
      schema:
        type: string
        enum: [asc, desc]
        default: asc
    search:
      name: search
      in: query
      description: Búsqueda de texto
      schema:
        type: string
    branchId:
      name: sucursalId
      in: query
      description: ID de sucursal
      schema:
        type: string
    dateFrom:
      name: fechaDesde
      in: query
      description: Fecha desde (ISO 8601)
      schema:
        type: string
        format: date-time
    dateTo:
      name: fechaHasta
      in: query
      description: Fecha hasta (ISO 8601)
      schema:
        type: string
        format: date-time
    busqueda:
      name: busqueda
      in: query
      description: Búsqueda de texto (alias de `search`, contrato panel admin)
      schema:
        type: string
    fechaCreacionDesde:
      name: fechaCreacionDesde
      in: query
      description: Filtrar usuarios creados desde (ISO 8601)
      schema:
        type: string
        format: date-time
    fechaCreacionHasta:
      name: fechaCreacionHasta
      in: query
      description: Filtrar usuarios creados hasta (ISO 8601)
      schema:
        type: string
        format: date-time

  responses:
    Error422:
      description: Error de validación
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Recurso no encontrado
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Conflict:
      description: "Conflicto (ej: SKU duplicado)"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: No autenticado
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
              example: "VALIDATION_ERROR"
            message:
              type: string
              example: "Error de validación"
            details:
              type: array
              items:
                type: object
                properties:
                  field:
                    type: string
                  message:
                    type: string
        success:
          type: boolean
          example: false
        timestamp:
          type: string
          format: date-time

    PaginatedResponse:
      type: object
      required:
        - data
        - pagination
      properties:
        data:
          type: array
          items: {}
        pagination:
          type: object
          required:
            - page
            - limit
            - total
            - totalPages
          properties:
            page:
              type: integer
            limit:
              type: integer
            total:
              type: integer
            totalPages:
              type: integer
            hasNext:
              type: boolean
            hasPrev:
              type: boolean

    # Enums
    Game:
      type: string
      enum:
        - pokemon
        - yugioh
        - magic
        - digimon
        - one_piece
        - dragon_ball
        - naruto
        - bleach
        - final_fantasy
        - card_fight_vanguard
        - weiss_schwarz
        - battle_spirits
        - other

    Rarity:
      type: string
      enum:
        - comun
        - infrecuente
        - rara
        - rara_holo
        - rara_secreta
        - rara_ultra
        - rara_gold
        - rara_rainbow
        - rara_alternate
        - rara_full_art
        - rara_charizard
        - legendary
        - mythic

    Condition:
      type: string
      enum:
        - mint
        - near_mint
        - excellent
        - very_good
        - good
        - fair
        - poor
        - damaged

    Language:
      type: string
      enum:
        - espanol
        - ingles
        - japones
        - chino
        - koreano
        - frances
        - aleman
        - italiano
        - portugues
        - ruso

    ProductType:
      type: string
      enum:
        - single
        - sellado
        - bundle
        - collection

    DocType:
      type: string
      enum:
        - boleta
        - factura
        - nota_credito
        - nota_debito
        - guia_despacho
        - recibo

    OrderStatus:
      type: string
      enum:
        - pendiente
        - voucher_impreso
        - confirmada
        - en_proceso
        - enviada
        - entregada
        - completada
        - cancelada
        - reembolsada
        - devuelta

    OrderChannel:
      type: string
      enum:
        - tienda_fisica
        - online
        - telefono
        - whatsapp
        - redes_sociales
        - marketplace
        - mayorista
        - evento
        - other

    OrderItemInput:
      type: object
      required:
        - productId
        - cantidad
        - precioUnitario
      properties:
        productId:
          type: integer
          format: int64
          minimum: 1
        cantidad:
          type: integer
          minimum: 1
        precioUnitario:
          type: integer
          format: int64
          minimum: 1
          description: Precio unitario en CLP (centavos)
        descuento:
          type: integer
          format: int64
          minimum: 0
          default: 0

    CreateOrderRequest:
      type: object
      required:
        - clienteId
        - sucursalId
        - canal
        - tipoDocumento
        - items
      properties:
        clienteId:
          type: string
          format: uuid
        sucursalId:
          type: string
          format: uuid
        canal:
          $ref: '#/components/schemas/OrderChannel'
        tipoDocumento:
          $ref: '#/components/schemas/DocType'
        items:
          type: array
          minItems: 1
          maxItems: 100
          items:
            $ref: '#/components/schemas/OrderItemInput'
        descuentoGeneral:
          type: integer
          format: int64
          minimum: 0
          default: 0
        costoEnvio:
          type: integer
          format: int64
          minimum: 0
          default: 0
        estado:
          $ref: '#/components/schemas/OrderStatus'
          default: pendiente

    UpdateOrderRequest:
      type: object
      properties:
        estado:
          $ref: '#/components/schemas/OrderStatus'
        canal:
          $ref: '#/components/schemas/OrderChannel'
        tipoDocumento:
          $ref: '#/components/schemas/DocType'
        items:
          type: array
          minItems: 1
          maxItems: 100
          items:
            $ref: '#/components/schemas/OrderItemInput'
        descuentoGeneral:
          type: integer
          format: int64
          minimum: 0
        costoEnvio:
          type: integer
          format: int64
          minimum: 0

    OrderItemResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        orderId:
          type: string
          format: uuid
        productId:
          type: integer
          format: int64
        cantidad:
          type: integer
        precioUnitario:
          type: integer
          format: int64
        descuento:
          type: integer
        subtotal:
          type: integer
        total:
          type: integer
        product:
          type: object
          properties:
            id:
              type: integer
            nombre:
              type: string
            sku:
              type: string
              nullable: true

    OrderResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        numero:
          type: string
          example: "ORD-202601-0001"
        clienteId:
          type: string
          format: uuid
        sucursalId:
          type: string
          format: uuid
        estado:
          $ref: '#/components/schemas/OrderStatus'
        canal:
          $ref: '#/components/schemas/OrderChannel'
        tipoDocumento:
          $ref: '#/components/schemas/DocType'
        subtotal:
          type: integer
          format: int64
        descuentoGeneral:
          type: integer
          format: int64
        subtotalConDescuento:
          type: integer
          format: int64
        montoIva:
          type: integer
          format: int64
        costoEnvio:
          type: integer
          format: int64
        total:
          type: integer
          format: int64
        fechaCreacion:
          type: string
          format: date-time
        fechaActualizacion:
          type: string
          format: date-time
        cliente:
          type: object
          properties:
            id:
              type: string
              format: uuid
            nombre:
              type: string
            apellido:
              type: string
            email:
              type: string
        sucursal:
          type: object
          properties:
            id:
              type: string
              format: uuid
            nombre:
              type: string
            codigo:
              type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/OrderItemResponse'

    OrderTimelineEvent:
      type: object
      properties:
        fecha:
          type: string
          format: date-time
        evento:
          type: string
          example: "Orden creada"
        estado:
          type: string

    Customer:
      type: object
      properties:
        id:
          type: string
          format: uuid
        nombre:
          type: string
        apellido:
          type: string
        email:
          type: string
        telefono:
          type: string
        rut:
          type: string
        direccion:
          type: object
        estado:
          type: string
        fechaRegistro:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        fechaUltimaCompra:
          type: string
          format: date-time
          nullable: true
          description: Fecha de la última compra del cliente (vacío si no tiene compras)
        montoUltimaCompra:
          type: integer
          format: int64
          nullable: true
          description: Monto total en CLP de la última compra (vacío si no tiene compras)

    CustomerAttachment:
      type: object
      properties:
        id:
          type: string
          format: uuid
        customerId:
          type: string
          format: uuid
        originalName:
          type: string
        mimeType:
          type: string
          description: MIME almacenado (imágenes pueden convertirse a JPEG/WebP)
        originalSizeBytes:
          type: integer
        storedSizeBytes:
          type: integer
          description: Tamaño final en R2 (menor en imágenes comprimidas)
        descripcion:
          type: string
          nullable: true
          maxLength: 500
        createdAt:
          type: string
          format: date-time
        uploadedBy:
          type: object
          properties:
            nombre:
              type: string
            username:
              type: string
        downloadPath:
          type: string
          description: Ruta relativa; usar con JWT en GET .../download (redirect 302 a URL firmada)

    CustomerVisitAttachment:
      type: object
      properties:
        id:
          type: string
          format: uuid
        visitId:
          type: string
          format: uuid
        originalName:
          type: string
        mimeType:
          type: string
        originalSizeBytes:
          type: integer
        storedSizeBytes:
          type: integer
        descripcion:
          type: string
          nullable: true
          maxLength: 500
        createdAt:
          type: string
          format: date-time
        uploadedBy:
          type: object
          properties:
            nombre:
              type: string
            username:
              type: string
        downloadPath:
          type: string
          description: Ruta relativa; GET con JWT en .../visits/{visitId}/attachments/{id}/download

    CustomerVisit:
      type: object
      properties:
        id:
          type: string
          format: uuid
        customerId:
          type: string
          format: uuid
        fecha:
          type: string
          format: date-time
        descripcion:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        usuario:
          type: object
          properties:
            nombre:
              type: string
            username:
              type: string
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/CustomerVisitAttachment'

    # --- RRHH (alineado con API_RRHH_CONSUMIDA_POR_FRONTEND.md y backend) ---
    RrhhApiEnvelope:
      type: object
      required: [success, message, timestamp, data]
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: OK
        timestamp:
          type: string
          format: date-time
        data:
          description: Cuerpo según endpoint (objeto, lista o paginado)

    RrhhDeleteEnvelope:
      type: object
      required: [success, message, timestamp]
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: Empleado eliminado
        timestamp:
          type: string
          format: date-time

    RrhhPagination:
      type: object
      required: [page, limit, total, totalPages]
      properties:
        page:
          type: integer
          minimum: 1
        limit:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer
        hasNext:
          type: boolean
        hasPrev:
          type: boolean

    RrhhDireccion:
      type: object
      properties:
        calle: { type: string }
        numero: { type: string }
        comuna: { type: string }
        region: { type: string }
        codigoPostal:
          type: string
          nullable: true

    RrhhDatosBancarios:
      type: object
      properties:
        banco: { type: string }
        tipoCuenta: { type: string }
        numeroCuenta: { type: string }
        rutTitular: { type: string }

    RrhhPrevisional:
      type: object
      properties:
        afp: { type: string }
        salud: { type: string }
        isapre: { type: string, nullable: true }
        mutual: { type: boolean, nullable: true }
        afc: { type: boolean, nullable: true }
        porcentajeAFC: { type: number, format: float, nullable: true }

    RrhhCargo:
      type: object
      required: [id, nombre, departamento, nivelJerarquico, sueldoMinimo, sueldoMaximo]
      properties:
        id:
          type: string
          format: uuid
        nombre: { type: string }
        descripcion: { type: string }
        departamento: { type: string }
        nivelJerarquico: { type: integer }
        sueldoMinimo: { type: integer }
        sueldoMaximo: { type: integer }

    RrhhContratoVigenteResumen:
      type: object
      description: Contrato en estado vigente asociado al empleado (máx. uno)
      required: [id, tipo, jornada, sueldoBase, estado, fechaInicio]
      properties:
        id:
          type: string
          format: uuid
        tipo: { type: string, description: Tipo de contrato (ej. indefinido, plazo fijo) }
        jornada: { type: string }
        sueldoBase:
          type: integer
          description: Sueldo base en CLP del contrato vigente
        estado:
          $ref: '#/components/schemas/RrhhContractStatus'
        fechaInicio: { type: string, format: date }
        fechaFin:
          type: string
          format: date
          nullable: true

    RrhhEmpleado:
      type: object
      required:
        - id
        - rut
        - nombre
        - apellidoPaterno
        - apellidoMaterno
        - email
        - fechaNacimiento
        - fechaIngreso
        - estado
        - fechaCreacion
        - fechaActualizacion
      properties:
        id:
          type: string
          format: uuid
        rut:
          type: string
          description: 'RUT formateado (ej. 12.345.678-9)'
        nombre: { type: string }
        apellidoPaterno: { type: string }
        apellidoMaterno: { type: string }
        email: { type: string, format: email }
        telefono: { type: string, nullable: true }
        fechaNacimiento: { type: string, format: date }
        fechaIngreso: { type: string, format: date }
        estado:
          type: string
          enum: [activo, inactivo, suspendido, licencia]
        direccion:
          $ref: '#/components/schemas/RrhhDireccion'
          nullable: true
        cargo:
          $ref: '#/components/schemas/RrhhCargo'
          nullable: true
        datosBancarios:
          $ref: '#/components/schemas/RrhhDatosBancarios'
          nullable: true
        previsional:
          $ref: '#/components/schemas/RrhhPrevisional'
          nullable: true
        contratoVigente:
          $ref: '#/components/schemas/RrhhContratoVigenteResumen'
          nullable: true
          description: Datos del contrato activo (vigente); null si no tiene
        montoCitaBruta:
          type: integer
          nullable: true
          description: Monto por consulta bruta (CLP enteros)
        montoCitaTotal:
          type: integer
          nullable: true
          description: Monto por consulta total (CLP enteros)
        fechaCreacion: { type: string, format: date-time }
        fechaActualizacion: { type: string, format: date-time }

    RrhhCrearEmpleado:
      type: object
      required: [rut, nombre, apellidoPaterno, apellidoMaterno, email, fechaNacimiento]
      properties:
        rut: { type: string }
        nombre: { type: string }
        apellidoPaterno: { type: string }
        apellidoMaterno: { type: string }
        email: { type: string, format: email }
        telefono: { type: string }
        fechaNacimiento: { type: string, format: date }
        direccion:
          $ref: '#/components/schemas/RrhhDireccion'
        cargoId:
          type: string
          format: uuid
        montoCitaBruta:
          type: integer
          minimum: 0
          nullable: true
          description: Monto por consulta bruta (CLP enteros)
        montoCitaTotal:
          type: integer
          minimum: 0
          nullable: true
          description: Monto por consulta total (CLP enteros)
        datosBancarios:
          $ref: '#/components/schemas/RrhhDatosBancarios'
        previsional:
          $ref: '#/components/schemas/RrhhPrevisional'

    RrhhActualizarEmpleado:
      type: object
      properties:
        email: { type: string, format: email }
        telefono: { type: string }
        estado:
          type: string
          enum: [activo, inactivo, suspendido, licencia]
        cargoId:
          type: string
          format: uuid
          nullable: true
        montoCitaBruta:
          type: integer
          minimum: 0
          nullable: true
          description: Monto por consulta bruta (CLP enteros)
        montoCitaTotal:
          type: integer
          minimum: 0
          nullable: true
          description: Monto por consulta total (CLP enteros)
        direccion:
          $ref: '#/components/schemas/RrhhDireccion'
        datosBancarios:
          $ref: '#/components/schemas/RrhhDatosBancarios'
        previsional:
          $ref: '#/components/schemas/RrhhPrevisional'

    RrhhScheduleExceptionType:
      type: string
      enum: [override, off]

    RrhhScheduleTemplate:
      type: object
      required:
        - id
        - employeeId
        - dayOfWeek
        - startTime
        - endTime
        - isActive
        - effectiveFrom
        - createdAt
        - updatedAt
      properties:
        id: { type: string, format: uuid }
        employeeId: { type: string, format: uuid }
        dayOfWeek:
          type: integer
          minimum: 0
          maximum: 6
          description: lunes=0 ... domingo=6
        startTime:
          type: string
          pattern: '^([01]\\d|2[0-3]):[0-5]\\d$'
          example: '09:00'
        endTime:
          type: string
          pattern: '^([01]\\d|2[0-3]):[0-5]\\d$'
          example: '18:00'
        isActive: { type: boolean }
        effectiveFrom: { type: string, format: date }
        effectiveTo:
          type: string
          format: date
          nullable: true
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    RrhhCreateScheduleTemplate:
      type: object
      required: [dayOfWeek, startTime, endTime, effectiveFrom]
      properties:
        dayOfWeek:
          type: integer
          minimum: 0
          maximum: 6
          description: lunes=0 ... domingo=6
        startTime:
          type: string
          pattern: '^([01]\\d|2[0-3]):[0-5]\\d$'
        endTime:
          type: string
          pattern: '^([01]\\d|2[0-3]):[0-5]\\d$'
        effectiveFrom:
          type: string
          format: date
        effectiveTo:
          type: string
          format: date
          nullable: true
        isActive:
          type: boolean
          default: true

    RrhhUpdateScheduleTemplate:
      type: object
      properties:
        dayOfWeek:
          type: integer
          minimum: 0
          maximum: 6
        startTime:
          type: string
          pattern: '^([01]\\d|2[0-3]):[0-5]\\d$'
        endTime:
          type: string
          pattern: '^([01]\\d|2[0-3]):[0-5]\\d$'
        effectiveFrom:
          type: string
          format: date
        effectiveTo:
          type: string
          format: date
          nullable: true
        isActive:
          type: boolean

    RrhhScheduleException:
      type: object
      required:
        - id
        - employeeId
        - date
        - type
        - createdAt
        - updatedAt
      properties:
        id: { type: string, format: uuid }
        employeeId: { type: string, format: uuid }
        date: { type: string, format: date }
        type:
          $ref: '#/components/schemas/RrhhScheduleExceptionType'
        startTime:
          type: string
          pattern: '^([01]\\d|2[0-3]):[0-5]\\d$'
          nullable: true
        endTime:
          type: string
          pattern: '^([01]\\d|2[0-3]):[0-5]\\d$'
          nullable: true
        note:
          type: string
          nullable: true
          maxLength: 500
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    RrhhCreateScheduleException:
      type: object
      required: [date, type]
      properties:
        date: { type: string, format: date }
        type:
          $ref: '#/components/schemas/RrhhScheduleExceptionType'
        startTime:
          type: string
          pattern: '^([01]\\d|2[0-3]):[0-5]\\d$'
        endTime:
          type: string
          pattern: '^([01]\\d|2[0-3]):[0-5]\\d$'
        note:
          type: string
          maxLength: 500

    RrhhUpdateScheduleException:
      type: object
      properties:
        date: { type: string, format: date }
        type:
          $ref: '#/components/schemas/RrhhScheduleExceptionType'
        startTime:
          type: string
          pattern: '^([01]\\d|2[0-3]):[0-5]\\d$'
        endTime:
          type: string
          pattern: '^([01]\\d|2[0-3]):[0-5]\\d$'
        note:
          type: string
          maxLength: 500

    RrhhCalendarBlock:
      type: object
      required: [startTime, endTime]
      properties:
        startTime:
          type: string
          pattern: '^([01]\\d|2[0-3]):[0-5]\\d$'
        endTime:
          type: string
          pattern: '^([01]\\d|2[0-3]):[0-5]\\d$'

    RrhhCalendarDay:
      type: object
      required: [date, employeeId, isOff, blocks, source]
      properties:
        date: { type: string, format: date }
        employeeId: { type: string, format: uuid }
        isOff: { type: boolean }
        blocks:
          type: array
          items:
            $ref: '#/components/schemas/RrhhCalendarBlock'
        source:
          type: string
          enum: [template, exception_override, exception_off]
        note:
          type: string
          nullable: true

    RrhhEnvelopeScheduleTemplate:
      allOf:
        - $ref: '#/components/schemas/RrhhApiEnvelope'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/RrhhScheduleTemplate'

    RrhhEnvelopeScheduleTemplatesLista:
      allOf:
        - $ref: '#/components/schemas/RrhhApiEnvelope'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/RrhhScheduleTemplate'

    RrhhEnvelopeScheduleException:
      allOf:
        - $ref: '#/components/schemas/RrhhApiEnvelope'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/RrhhScheduleException'

    RrhhEnvelopeScheduleExceptionsLista:
      allOf:
        - $ref: '#/components/schemas/RrhhApiEnvelope'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/RrhhScheduleException'

    RrhhEnvelopeScheduleCalendar:
      allOf:
        - $ref: '#/components/schemas/RrhhApiEnvelope'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/RrhhCalendarDay'

    RrhhBulkScheduleEmployee:
      type: object
      required: [employeeId, employee, days]
      properties:
        employeeId:
          type: string
          format: uuid
        employee:
          type: object
          required: [id, nombre, apellidoPaterno, apellidoMaterno, estado]
          properties:
            id: { type: string, format: uuid }
            nombre: { type: string }
            apellidoPaterno: { type: string }
            apellidoMaterno: { type: string }
            estado:
              type: string
              enum: [activo, inactivo, suspendido, licencia]
            cargo:
              $ref: '#/components/schemas/RrhhCargo'
              nullable: true
        days:
          type: array
          items:
            $ref: '#/components/schemas/RrhhCalendarDay'

    RrhhEnvelopeScheduleCalendarBulk:
      allOf:
        - $ref: '#/components/schemas/RrhhApiEnvelope'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/RrhhBulkScheduleEmployee'

    RrhhEstadisticas:
      type: object
      required:
        - totalEmpleados
        - empleadosActivos
        - empleadosInactivos
        - contratosVigentes
        - contratosPorTerminar
        - costoNominaTotal
        - promedioSueldo
        - rotacionPersonal
      properties:
        totalEmpleados: { type: integer }
        empleadosActivos: { type: integer }
        empleadosInactivos: { type: integer }
        contratosVigentes: { type: integer }
        contratosPorTerminar: { type: integer }
        costoNominaTotal: { type: integer, description: Montos en CLP (enteros) }
        promedioSueldo: { type: integer }
        rotacionPersonal: { type: number, format: float }

    RrhhContractStatus:
      type: string
      enum: [vigente, respaldo, terminado, suspendido]

    RrhhContrato:
      type: object
      required:
        - id
        - empleadoId
        - empleado
        - numeroContrato
        - tipo
        - jornada
        - sueldoBase
        - fechaInicio
        - estado
        - observaciones
        - fechaCreacion
        - fechaActualizacion
      properties:
        id: { type: string, format: uuid }
        empleadoId: { type: string, format: uuid }
        empleado:
          $ref: '#/components/schemas/RrhhEmpleado'
        numeroContrato: { type: string }
        tipo: { type: string }
        jornada: { type: string }
        sueldoBase: { type: integer }
        fechaInicio: { type: string, format: date }
        fechaFin:
          type: string
          format: date
          nullable: true
        estado:
          $ref: '#/components/schemas/RrhhContractStatus'
        observaciones: { type: string }
        fechaCreacion: { type: string, format: date-time }
        fechaActualizacion: { type: string, format: date-time }

    RrhhCrearContrato:
      type: object
      required: [empleadoId, tipo, sueldoBase, fechaInicio]
      properties:
        empleadoId: { type: string, format: uuid }
        tipo: { type: string }
        jornada: { type: string }
        sueldoBase: { type: integer, minimum: 1 }
        fechaInicio: { type: string, format: date }
        fechaFin:
          type: string
          format: date
          nullable: true
        observaciones: { type: string }

    RrhhActualizarContrato:
      type: object
      properties:
        sueldoBase: { type: integer, minimum: 1 }
        observaciones: { type: string }
        jornada: { type: string }
        tipo: { type: string }
        fechaFin:
          type: string
          format: date
          nullable: true

    RrhhTerminarContrato:
      type: object
      required: [fechaTermino]
      properties:
        fechaTermino: { type: string, format: date }
        observaciones: { type: string }

    RrhhPayrollStatus:
      type: string
      enum: [pendiente, procesada, pagada, cancelada]

    RrhhPayrollEarning:
      type: object
      properties:
        id: { type: string, format: uuid }
        tipo: { type: string }
        descripcion: { type: string }
        monto: { type: integer }
        esImponible: { type: boolean }
        esTributable: { type: boolean }

    RrhhPayrollDeduction:
      type: object
      properties:
        id: { type: string, format: uuid }
        tipo: { type: string }
        descripcion: { type: string }
        porcentaje: { type: number, format: float, nullable: true }
        monto: { type: integer }
        esLegal: { type: boolean }
        esVoluntario: { type: boolean }

    RrhhPayrollImposicionLine:
      type: object
      properties:
        id: { type: string, format: uuid }
        tipo: { type: string }
        descripcion: { type: string }
        porcentaje: { type: number, format: float, nullable: true }
        baseImponible: { type: integer }
        monto: { type: integer }
        esObligatoria: { type: boolean }

    RrhhNomina:
      type: object
      properties:
        id: { type: string, format: uuid }
        periodo:
          type: string
          pattern: '^\\d{4}-\\d{2}$'
        empleadoId: { type: string, format: uuid }
        empleado:
          $ref: '#/components/schemas/RrhhEmpleado'
        contratoId:
          type: string
          format: uuid
          nullable: true
        contrato:
          $ref: '#/components/schemas/RrhhContrato'
          nullable: true
        fechaGeneracion:
          type: string
          format: date
          nullable: true
        fechaPago:
          type: string
          format: date
          nullable: true
        estado:
          $ref: '#/components/schemas/RrhhPayrollStatus'
        haberes:
          type: array
          items:
            $ref: '#/components/schemas/RrhhPayrollEarning'
        descuentos:
          type: array
          items:
            $ref: '#/components/schemas/RrhhPayrollDeduction'
        imposiciones:
          type: array
          items:
            $ref: '#/components/schemas/RrhhPayrollImposicionLine'
        totalHaberes: { type: integer }
        totalDescuentos: { type: integer }
        totalImposiciones: { type: integer }
        liquido: { type: integer }
        observaciones: { type: string }

    RrhhGenerarNomina:
      type: object
      required: [periodo]
      properties:
        periodo:
          type: string
          pattern: '^\\d{4}-\\d{2}$'
        empleadoIds:
          type: array
          items:
            type: string
            format: uuid
        incluirTodos: { type: boolean }

    RrhhProcesarNomina:
      type: object
      required: [nominaId, fechaPago]
      properties:
        nominaId: { type: string, format: uuid }
        fechaPago: { type: string, format: date }
        observaciones: { type: string }

    RrhhCalcularNomina:
      type: object
      required: [empleadoId, periodo]
      properties:
        empleadoId: { type: string, format: uuid }
        periodo:
          type: string
          pattern: '^\\d{4}-\\d{2}$'

    RrhhCalculoNomina:
      type: object
      properties:
        sueldoBase: { type: integer }
        horasExtra: { type: integer }
        gratificacion: { type: integer }
        otrosHaberes: { type: integer }
        totalHaberes: { type: integer }
        descuentosAFP: { type: integer }
        descuentosSalud: { type: integer }
        descuentosAFC: { type: integer }
        descuentosMutual: { type: integer }
        impuestos: { type: integer }
        otrosDescuentos: { type: integer }
        totalDescuentos: { type: integer }
        liquido: { type: integer }

    RrhhResumenNomina:
      type: object
      properties:
        periodo:
          type: string
          pattern: '^\\d{4}-\\d{2}$'
        totalEmpleados: { type: integer }
        totalHaberes: { type: integer }
        totalDescuentos: { type: integer }
        totalImposiciones: { type: integer }
        totalLiquido: { type: integer }
        empleadosPagados: { type: integer }
        empleadosPendientes: { type: integer }

    RrhhExportarNomina:
      type: object
      required: [periodo, formato]
      properties:
        periodo:
          type: string
          pattern: '^\\d{4}-\\d{2}$'
        formato:
          type: string
          enum: [csv, xlsx]
        incluirDetalle: { type: boolean }
        incluirImposiciones: { type: boolean }

    RrhhImposicionResumen:
      type: object
      properties:
        id: { type: string, format: uuid }
        periodo:
          type: string
          pattern: '^\\d{4}-\\d{2}$'
        empleadoId: { type: string, format: uuid }
        empleado:
          $ref: '#/components/schemas/RrhhEmpleado'
        afp:
          type: object
          additionalProperties: true
        salud:
          type: object
          additionalProperties: true
        afc:
          type: object
          additionalProperties: true
        mutual:
          type: object
          additionalProperties: true
        totalImposiciones: { type: integer }
        fechaGeneracion: { type: string, format: date }

    RrhhGenerarImposiciones:
      type: object
      required: [periodo]
      properties:
        periodo:
          type: string
          pattern: '^\\d{4}-\\d{2}$'
        empleadoIds:
          type: array
          items:
            type: string
            format: uuid

    RrhhExportarImposiciones:
      type: object
      required: [periodo, formato, tipo]
      properties:
        periodo:
          type: string
          pattern: '^\\d{4}-\\d{2}$'
        formato:
          type: string
          enum: [csv, excel]
        tipo:
          type: string
          enum: [todos, afp, salud]

    RrhhParametrosCalculo:
      type: object
      required:
        - porcentajeAFP
        - porcentajeSalud
        - porcentajeAFC
        - porcentajeMutual
        - tramoImpuesto
        - porcentajeImpuesto
        - rebajaImpuesto
      properties:
        porcentajeAFP: { type: number, format: float }
        porcentajeSalud: { type: number, format: float }
        porcentajeAFC: { type: number, format: float }
        porcentajeMutual: { type: number, format: float }
        tramoImpuesto: { type: string }
        porcentajeImpuesto: { type: number, format: float }
        rebajaImpuesto: { type: integer }

    RrhhEnvelopeEmpleadosPaginados:
      allOf:
        - $ref: '#/components/schemas/RrhhApiEnvelope'
        - type: object
          properties:
            data:
              type: object
              required: [data, pagination]
              properties:
                data:
                  type: array
                  items:
                    $ref: '#/components/schemas/RrhhEmpleado'
                pagination:
                  $ref: '#/components/schemas/RrhhPagination'

    RrhhEnvelopeContratosPaginados:
      allOf:
        - $ref: '#/components/schemas/RrhhApiEnvelope'
        - type: object
          properties:
            data:
              type: object
              required: [data, pagination]
              properties:
                data:
                  type: array
                  items:
                    $ref: '#/components/schemas/RrhhContrato'
                pagination:
                  $ref: '#/components/schemas/RrhhPagination'

    RrhhEnvelopeNominaPaginados:
      allOf:
        - $ref: '#/components/schemas/RrhhApiEnvelope'
        - type: object
          properties:
            data:
              type: object
              required: [data, pagination]
              properties:
                data:
                  type: array
                  items:
                    $ref: '#/components/schemas/RrhhNomina'
                pagination:
                  $ref: '#/components/schemas/RrhhPagination'

    RrhhEnvelopeImposicionesPaginados:
      allOf:
        - $ref: '#/components/schemas/RrhhApiEnvelope'
        - type: object
          properties:
            data:
              type: object
              required: [data, pagination]
              properties:
                data:
                  type: array
                  items:
                    $ref: '#/components/schemas/RrhhImposicionResumen'
                pagination:
                  $ref: '#/components/schemas/RrhhPagination'

    RrhhEnvelopeEmpleado:
      allOf:
        - $ref: '#/components/schemas/RrhhApiEnvelope'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/RrhhEmpleado'

    RrhhEnvelopeEstadisticas:
      allOf:
        - $ref: '#/components/schemas/RrhhApiEnvelope'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/RrhhEstadisticas'

    RrhhEnvelopeContrato:
      allOf:
        - $ref: '#/components/schemas/RrhhApiEnvelope'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/RrhhContrato'

    RrhhEnvelopeContratosLista:
      allOf:
        - $ref: '#/components/schemas/RrhhApiEnvelope'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/RrhhContrato'

    RrhhEnvelopeNomina:
      allOf:
        - $ref: '#/components/schemas/RrhhApiEnvelope'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/RrhhNomina'

    RrhhEnvelopeNominaLista:
      allOf:
        - $ref: '#/components/schemas/RrhhApiEnvelope'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/RrhhNomina'

    RrhhEnvelopeCalculoNomina:
      allOf:
        - $ref: '#/components/schemas/RrhhApiEnvelope'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/RrhhCalculoNomina'

    RrhhEnvelopeResumenNomina:
      allOf:
        - $ref: '#/components/schemas/RrhhApiEnvelope'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/RrhhResumenNomina'

    RrhhEnvelopeImposicion:
      allOf:
        - $ref: '#/components/schemas/RrhhApiEnvelope'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/RrhhImposicionResumen'

    RrhhEnvelopeImposicionesLista:
      allOf:
        - $ref: '#/components/schemas/RrhhApiEnvelope'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/RrhhImposicionResumen'

    RrhhEnvelopeCargosLista:
      allOf:
        - $ref: '#/components/schemas/RrhhApiEnvelope'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/RrhhCargo'

    RrhhEnvelopeCargo:
      allOf:
        - $ref: '#/components/schemas/RrhhApiEnvelope'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/RrhhCargo'

    RrhhEnvelopeParametros:
      allOf:
        - $ref: '#/components/schemas/RrhhApiEnvelope'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/RrhhParametrosCalculo'

    # Productos
    Product:
      type: object
      required:
        - id
        - nombre
        - precio
        - stock
        - categoria
        - activo
      properties:
        id:
          type: integer
          format: int64
        nombre:
          type: string
          maxLength: 200
        descripcion:
          type: string
          nullable: true
        sku:
          type: string
          nullable: true
        juego:
          $ref: '#/components/schemas/Game'
        set:
          type: string
          nullable: true
        nro_coleccionista:
          type: string
          nullable: true
        rareza:
          $ref: '#/components/schemas/Rarity'
        idioma:
          $ref: '#/components/schemas/Language'
        condicion:
          $ref: '#/components/schemas/Condition'
        tipo:
          $ref: '#/components/schemas/ProductType'
        precio:
          type: integer
          format: int64
          description: Precio en CLP (centavos)
        precio_compra:
          type: integer
          format: int64
          nullable: true
        iva:
          type: integer
          default: 19
          description: Porcentaje de IVA
        stock:
          type: integer
          minimum: 0
        categoria:
          type: string
        imagen:
          type: string
          format: uri
          nullable: true
        imagenes:
          type: array
          items:
            type: string
            format: uri
        stock_sucursales:
          type: object
          additionalProperties:
            type: integer
        activo:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CreateProductRequest:
      type: object
      required:
        - nombre
        - precio
        - stock
        - categoria
      properties:
        nombre:
          type: string
          maxLength: 200
        descripcion:
          type: string
          maxLength: 1000
          nullable: true
        sku:
          type: string
          maxLength: 50
          pattern: '^[A-Z0-9-]+$'
          nullable: true
        juego:
          $ref: '#/components/schemas/Game'
        set:
          type: string
          nullable: true
        nro_coleccionista:
          type: string
          nullable: true
        rareza:
          $ref: '#/components/schemas/Rarity'
        idioma:
          $ref: '#/components/schemas/Language'
        condicion:
          $ref: '#/components/schemas/Condition'
        tipo:
          $ref: '#/components/schemas/ProductType'
        precio:
          type: integer
          format: int64
          minimum: 1
          description: Precio en CLP (centavos)
        precio_compra:
          type: integer
          format: int64
          nullable: true
        iva:
          type: integer
          minimum: 0
          maximum: 100
          default: 19
          description: Porcentaje de IVA
        stock:
          type: integer
          minimum: 0
        categoria:
          type: string
        imagen:
          type: string
          format: uri
          nullable: true
        imagenes:
          type: array
          items:
            type: string
            format: uri
          nullable: true
        activo:
          type: boolean
          default: true

    UpdateProductRequest:
      type: object
      properties:
        nombre:
          type: string
        descripcion:
          type: string
        precio:
          type: integer
          format: int64
        stock:
          type: integer
        categoria:
          type: string
        imagen:
          type: string
          format: uri
        sku:
          type: string

    # --- Admin (panel /api/admin) — formas expuestas al frontend ---
    AdminPermiso:
      type: object
      required: [id, recurso, accion, descripcion, categoria]
      properties:
        id:
          type: string
          description: Identificador estable del permiso (nombre único en catálogo)
        recurso:
          type: string
        accion:
          type: string
        descripcion:
          type: string
        categoria:
          type: string

    AdminRolCompact:
      type: object
      required: [id, nombre, activo, fechaCreacion, permisos]
      properties:
        id:
          type: string
        nombre:
          type: string
        descripcion:
          type: string
          nullable: true
        activo:
          type: boolean
        fechaCreacion:
          type: string
          format: date-time
        permisos:
          type: array
          items:
            $ref: '#/components/schemas/AdminPermiso'

    AdminRol:
      allOf:
        - $ref: '#/components/schemas/AdminRolCompact'
        - type: object
          properties:
            usuariosCount:
              type: integer
              description: Presente en listados y detalle de rol

    AdminConfiguracionSucursal:
      type: object
      additionalProperties: true
      description: JSON de configuración de sucursal (moneda, formatos, etc.)

    AdminSucursal:
      type: object
      required: [id, codigo, nombre, activa, configuracion, fechaCreacion]
      properties:
        id:
          type: string
        codigo:
          type: string
        nombre:
          type: string
        direccion:
          type: string
          nullable: true
        telefono:
          type: string
          nullable: true
        email:
          type: string
          nullable: true
        activa:
          type: boolean
        configuracion:
          $ref: '#/components/schemas/AdminConfiguracionSucursal'
        fechaCreacion:
          type: string
          format: date-time
        usuariosCount:
          type: integer
          description: Opcional según endpoint

    AdminUsuario:
      type: object
      required:
        - id
        - username
        - email
        - nombre
        - apellido
        - activo
        - fechaCreacion
        - roles
        - sucursalId
      properties:
        id:
          type: string
        username:
          type: string
        email:
          type: string
        nombre:
          type: string
        apellido:
          type: string
        telefono:
          type: string
          nullable: true
        avatar:
          type: string
          nullable: true
        activo:
          type: boolean
        fechaCreacion:
          type: string
          format: date-time
        ultimoAcceso:
          type: string
          format: date-time
          nullable: true
        roles:
          type: array
          items:
            $ref: '#/components/schemas/AdminRolCompact'
        sucursalId:
          type: string
          nullable: true
        sucursal:
          oneOf:
            - $ref: '#/components/schemas/AdminSucursal'
            - type: 'null'

    AdminConfiguracionSistema:
      type: object
      required: [id, nombre, descripcion, valor, tipo, categoria, editable, fechaActualizacion]
      properties:
        id:
          type: string
        nombre:
          type: string
          description: Alias de `clave` en BD
        descripcion:
          type: string
        valor:
          type: string
        tipo:
          type: string
        categoria:
          type: string
        editable:
          type: boolean
        fechaActualizacion:
          type: string
          format: date-time

    AdminPagination:
      type: object
      required: [page, limit, total, totalPages, hasNext, hasPrev]
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer
        hasNext:
          type: boolean
        hasPrev:
          type: boolean

    AdminPaginatedUsuarios:
      type: object
      required: [data, pagination]
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AdminUsuario'
        pagination:
          $ref: '#/components/schemas/AdminPagination'

    AdminPaginatedRoles:
      type: object
      required: [data, pagination]
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AdminRol'
        pagination:
          $ref: '#/components/schemas/AdminPagination'

    AdminPaginatedSucursales:
      type: object
      required: [data, pagination]
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AdminSucursal'
        pagination:
          $ref: '#/components/schemas/AdminPagination'

    AdminPaginatedSettings:
      type: object
      required: [data, pagination]
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AdminConfiguracionSistema'
        pagination:
          $ref: '#/components/schemas/AdminPagination'

    AdminPermisosCatalogoOLista:
      description: Sin `page`/`limit` devuelve array plano; con paginación, objeto con data y pagination
      oneOf:
        - type: array
          items:
            $ref: '#/components/schemas/AdminPermiso'
        - $ref: '#/components/schemas/AdminPaginatedPermisos'

    AdminPaginatedPermisos:
      type: object
      required: [data, pagination]
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AdminPermiso'
        pagination:
          $ref: '#/components/schemas/AdminPagination'

    EstadisticasAdmin:
      type: object
      required:
        - totalUsuarios
        - usuariosActivos
        - totalRoles
        - rolesActivos
        - totalSucursales
        - sucursalesActivas
        - totalConfiguraciones
        - ultimosUsuarios
        - rolesMasUsados
        - distribucionUsuariosPorSucursal
      properties:
        totalUsuarios:
          type: integer
        usuariosActivos:
          type: integer
        totalRoles:
          type: integer
        rolesActivos:
          type: integer
        totalSucursales:
          type: integer
        sucursalesActivas:
          type: integer
        totalConfiguraciones:
          type: integer
        ultimosUsuarios:
          type: array
          items:
            $ref: '#/components/schemas/AdminUsuario'
        rolesMasUsados:
          type: array
          items:
            type: object
            required: [rol, count]
            properties:
              count:
                type: integer
              rol:
                $ref: '#/components/schemas/AdminRolCompact'
        distribucionUsuariosPorSucursal:
          type: array
          items:
            type: object
            required: [sucursal, count]
            properties:
              count:
                type: integer
              sucursal:
                $ref: '#/components/schemas/AdminSucursal'

    DashboardStats:
      type: object
      required:
        - totalProductos
        - totalStock
        - ventasMensuales
        - carritosActivos
        - productosBajoStock
        - totalClientes
        - totalPedidos
        - topCategorias
        - ventasRecientes
        - productosPopulares
      properties:
        totalProductos:
          type: integer
        totalStock:
          type: integer
        ventasMensuales:
          type: integer
          description: Suma de totales de órdenes del mes UTC actual (excl. canceladas/reembolsadas/devueltas)
        carritosActivos:
          type: integer
          description: Siempre 0 hasta exista carrito persistido
        productosBajoStock:
          type: integer
          description: Productos activos con stock menor al umbral fijo (5)
        totalClientes:
          type: integer
        totalPedidos:
          type: integer
        topCategorias:
          type: array
          items:
            type: object
            required: [nombre, cantidad, porcentaje]
            properties:
              nombre:
                type: string
              cantidad:
                type: integer
              porcentaje:
                type: number
        ventasRecientes:
          type: array
          items:
            type: object
            required: [id, cliente, total, fecha]
            properties:
              id:
                type: string
                description: Número de orden
              cliente:
                type: string
              total:
                type: integer
              fecha:
                type: string
                format: date-time
        productosPopulares:
          type: array
          items:
            type: object
            required: [id, nombre, ventas]
            properties:
              id:
                type: integer
              nombre:
                type: string
              ventas:
                type: integer

    ChartMonthlySaleRow:
      type: object
      required: [mes, ventas, productos, clientes]
      properties:
        mes:
          type: string
          description: Etiqueta YYYY-MM (UTC)
        ventas:
          type: integer
        productos:
          type: integer
          description: Unidades vendidas (suma cantidades en ítems)
        clientes:
          type: integer
          description: Clientes distintos con pedido en el mes

    ChartCategoryRow:
      type: object
      required: [categoria, cantidad, porcentaje]
      properties:
        categoria:
          type: string
        cantidad:
          type: integer
        porcentaje:
          type: number

    ChartStockRow:
      type: object
      required: [producto, stock, stockMinimo]
      properties:
        producto:
          type: string
        stock:
          type: integer
        stockMinimo:
          type: integer
          description: Umbral de referencia (5); no persiste en Product

    ChartTrendRow:
      type: object
      required: [fecha, ingresos, gastos, ganancia]
      properties:
        fecha:
          type: string
          description: Fecha YYYY-MM-DD (UTC)
        ingresos:
          type: integer
        gastos:
          type: integer
          description: v1 siempre 0
        ganancia:
          type: integer
          description: v1 igual a ingresos

    DashboardChartsBundle:
      type: object
      required: [ventasMensuales, distribucionCategorias, estadoStock, tendencias]
      properties:
        ventasMensuales:
          type: array
          items:
            $ref: '#/components/schemas/ChartMonthlySaleRow'
        distribucionCategorias:
          type: array
          items:
            $ref: '#/components/schemas/ChartCategoryRow'
        estadoStock:
          type: array
          items:
            $ref: '#/components/schemas/ChartStockRow'
        tendencias:
          type: array
          items:
            $ref: '#/components/schemas/ChartTrendRow'

    AppointmentStatus:
      type: string
      enum: [tentative, confirmed, cancelled, completed, no_show]
    AppointmentSource:
      type: string
      enum: [manual, web, phone, whatsapp]
    AppointmentSlot:
      type: object
      required: [employeeId, startAt, endAt, durationMin, isAvailable]
      properties:
        employeeId:
          type: string
          format: uuid
        startAt:
          type: string
          format: date-time
        endAt:
          type: string
          format: date-time
        durationMin:
          type: integer
        isAvailable:
          type: boolean
        reason:
          type: string
    AppointmentItem:
      type: object
      required: [id, customerId, employeeId, startAt, endAt, durationMin, status, source, customerNombre, employeeNombre, customerSnapshot, employeeSnapshot]
      properties:
        id:
          type: string
          format: uuid
        customerId:
          type: string
          format: uuid
        employeeId:
          type: string
          format: uuid
        serviceTypeId:
          type: string
          format: uuid
          nullable: true
        serviceTypeName:
          type: string
          nullable: true
        startAt:
          type: string
          format: date-time
        endAt:
          type: string
          format: date-time
        durationMin:
          type: integer
        status:
          $ref: '#/components/schemas/AppointmentStatus'
        source:
          $ref: '#/components/schemas/AppointmentSource'
        note:
          type: string
          nullable: true
        customerNombre:
          type: string
          description: "Nombre y apellido del cliente, listo para mostrar en UI"
        employeeNombre:
          type: string
          description: "Nombre completo del empleado, listo para mostrar en UI"
        customerSnapshot:
          type: object
          required: [id, nombre, apellido, nombreCompleto]
        employeeSnapshot:
          type: object
          required: [id, nombre, apellidoPaterno, apellidoMaterno, nombreCompleto, cargo]
          properties:
            cargo:
              type: string
              nullable: true
    CreateAppointmentRequest:
      type: object
      required: [customerId, employeeId, startAt]
      properties:
        customerId:
          type: string
          format: uuid
        employeeId:
          type: string
          format: uuid
        serviceTypeId:
          type: string
          format: uuid
        startAt:
          type: string
          format: date-time
        endAt:
          type: string
          format: date-time
        durationMin:
          type: integer
          enum: [15, 30, 45, 60]
        source:
          $ref: '#/components/schemas/AppointmentSource'
        note:
          type: string
        status:
          type: string
          enum: [tentative, confirmed]
    RescheduleAppointmentRequest:
      type: object
      required: [startAt]
      properties:
        startAt:
          type: string
          format: date-time
        endAt:
          type: string
          format: date-time
        durationMin:
          type: integer
          enum: [15, 30, 45, 60]
        employeeId:
          type: string
          format: uuid
    CancelAppointmentRequest:
      type: object
      required: [reason]
      properties:
        reason:
          type: string
    CreateAppointmentServiceTypeRequest:
      type: object
      required: [name, durationOptions]
      properties:
        name:
          type: string
        durationOptions:
          type: array
          items:
            type: integer
        bufferBeforeMin:
          type: integer
        bufferAfterMin:
          type: integer
        allowOverbooking:
          type: boolean
        isActive:
          type: boolean
    CreateAppointmentHoldRequest:
      type: object
      required: [employeeId, startAt, endAt]
      properties:
        employeeId:
          type: string
          format: uuid
        startAt:
          type: string
          format: date-time
        endAt:
          type: string
          format: date-time
        ttlMinutes:
          type: integer
          minimum: 1
          maximum: 30

paths:
  # PRODUCTOS
  /products:
    get:
      tags: [products]
      summary: Listar productos
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/sortBy'
        - $ref: '#/components/parameters/sortDir'
        - $ref: '#/components/parameters/search'
        - name: category
          in: query
          schema:
            type: string
        - name: juego
          in: query
          schema:
            $ref: '#/components/schemas/Game'
        - name: rareza
          in: query
          schema:
            $ref: '#/components/schemas/Rarity'
        - name: idioma
          in: query
          schema:
            $ref: '#/components/schemas/Language'
        - name: condicion
          in: query
          schema:
            $ref: '#/components/schemas/Condition'
      responses:
        '200':
          description: Lista de productos
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Product'
    post:
      tags: [products]
      summary: Crear producto
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProductRequest'
      responses:
        '201':
          description: Producto creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '422':
          $ref: '#/components/responses/Error422'
        '409':
          $ref: '#/components/responses/Conflict'

  /products/inactive:
    get:
      tags: [products]
      summary: Listar productos inactivos
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/sortBy'
        - $ref: '#/components/parameters/sortDir'
        - $ref: '#/components/parameters/search'
        - name: category
          in: query
          schema:
            type: string
        - name: juego
          in: query
          schema:
            $ref: '#/components/schemas/Game'
        - name: rareza
          in: query
          schema:
            $ref: '#/components/schemas/Rarity'
        - name: idioma
          in: query
          schema:
            $ref: '#/components/schemas/Language'
        - name: condicion
          in: query
          schema:
            $ref: '#/components/schemas/Condition'
      responses:
        '200':
          description: Lista de productos inactivos
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Product'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: No tiene permisos para ver productos inactivos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /products/{id}:
    get:
      tags: [products]
      summary: Obtener producto por ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Producto encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [products]
      summary: Actualizar producto
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProductRequest'
      responses:
        '200':
          description: Producto actualizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Error422'
    delete:
      tags: [products]
      summary: Eliminar producto
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Producto eliminado
        '404':
          $ref: '#/components/responses/NotFound'

  /products/stats:
    get:
      tags: [products]
      summary: Estadísticas de productos
      responses:
        '200':
          description: Estadísticas
          content:
            application/json:
              schema:
                type: object

  /products/categories:
    get:
      tags: [products]
      summary: Listar categorías
      responses:
        '200':
          description: Lista de categorías
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string

  /products/low-stock:
    get:
      tags: [products]
      summary: Productos con stock bajo
      responses:
        '200':
          description: Lista de productos
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Product'

  /products/{id}/stock:
    patch:
      tags: [products]
      summary: Actualizar stock de producto
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - stock
              properties:
                stock:
                  type: integer
                  minimum: 0
      responses:
        '200':
          description: Stock actualizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Error422'

  # INVENTARIO
  /inventory:
    get:
      tags: [inventory]
      summary: Listar inventario
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/search'
        - name: location
          in: query
          schema:
            type: string
        - name: lowStock
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Lista de inventario
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object

  /inventory/{id}:
    get:
      tags: [inventory]
      summary: Obtener item de inventario
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Item encontrado
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [inventory]
      summary: Actualizar item de inventario
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Item actualizado
        '404':
          $ref: '#/components/responses/NotFound'

  /inventory/stats:
    get:
      tags: [inventory]
      summary: Estadísticas de inventario
      responses:
        '200':
          description: Estadísticas

  /inventory/alerts:
    get:
      tags: [inventory]
      summary: Alertas de inventario
      parameters:
        - name: priority
          in: query
          schema:
            type: string
            enum: [alta, media, baja]
        - name: type
          in: query
          schema:
            type: string
            enum: [sin_stock, bajo_stock, stock_alto]
      responses:
        '200':
          description: Lista de alertas

  /inventory/low-stock:
    get:
      tags: [inventory]
      summary: Productos con stock bajo
      responses:
        '200':
          description: Lista de productos

  /inventory/out-of-stock:
    get:
      tags: [inventory]
      summary: Productos sin stock
      responses:
        '200':
          description: Lista de productos

  /inventory/{id}/stock:
    patch:
      tags: [inventory]
      summary: Actualizar stock
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - stockActual
              properties:
                stockActual:
                  type: integer
                motivo:
                  type: string
      responses:
        '200':
          description: Stock actualizado
        '404':
          $ref: '#/components/responses/NotFound'

  /inventory/locations:
    get:
      tags: [inventory]
      summary: Listar ubicaciones
      responses:
        '200':
          description: Lista de ubicaciones
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string

  /inventory/by-location/{location}:
    get:
      tags: [inventory]
      summary: Inventario por ubicación
      parameters:
        - name: location
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista de inventario

  /inventory/adjustment:
    post:
      tags: [inventory]
      summary: Ajuste de inventario
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - productoId
                - cantidad
                - motivo
                - tipo
              properties:
                productoId:
                  type: integer
                cantidad:
                  type: integer
                motivo:
                  type: string
                tipo:
                  type: string
                  enum: [entrada, salida]
      responses:
        '201':
          description: Ajuste realizado
        '422':
          $ref: '#/components/responses/Error422'

  # RECEPCIONES
  /recepciones:
    get:
      tags: [recepciones]
      summary: Listar recepciones
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/search'
        - name: proveedor
          in: query
          schema:
            type: string
        - name: estado
          in: query
          schema:
            type: string
        - name: sucursal
          in: query
          schema:
            type: string
        - $ref: '#/components/parameters/dateFrom'
        - $ref: '#/components/parameters/dateTo'
      responses:
        '200':
          description: Lista de recepciones
    post:
      tags: [recepciones]
      summary: Crear recepción
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Recepción creada
        '422':
          $ref: '#/components/responses/Error422'

  /recepciones/{id}:
    get:
      tags: [recepciones]
      summary: Obtener recepción por ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Recepción encontrada
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [recepciones]
      summary: Actualizar recepción
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Recepción actualizada
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [recepciones]
      summary: Eliminar recepción
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Recepción eliminada
        '404':
          $ref: '#/components/responses/NotFound'

  # TRANSFERENCIAS
  /transferencias:
    get:
      tags: [transferencias]
      summary: Listar transferencias
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/search'
        - name: sucursalOrigen
          in: query
          schema:
            type: string
        - name: sucursalDestino
          in: query
          schema:
            type: string
        - name: estado
          in: query
          schema:
            type: string
        - $ref: '#/components/parameters/dateFrom'
        - $ref: '#/components/parameters/dateTo'
      responses:
        '200':
          description: Lista de transferencias
    post:
      tags: [transferencias]
      summary: Crear transferencia
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Transferencia creada
        '422':
          $ref: '#/components/responses/Error422'

  /transferencias/{id}:
    get:
      tags: [transferencias]
      summary: Obtener transferencia por ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Transferencia encontrada
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [transferencias]
      summary: Actualizar transferencia
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Transferencia actualizada
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [transferencias]
      summary: Eliminar transferencia
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Transferencia eliminada
        '404':
          $ref: '#/components/responses/NotFound'

  # PROVEEDORES
  /proveedores:
    get:
      tags: [proveedores]
      summary: Listar proveedores
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/search'
        - name: activo
          in: query
          schema:
            type: boolean
        - name: region
          in: query
          schema:
            type: string
        - name: tipo
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Lista de proveedores
    post:
      tags: [proveedores]
      summary: Crear proveedor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Proveedor creado
        '422':
          $ref: '#/components/responses/Error422'

  /proveedores/{id}:
    get:
      tags: [proveedores]
      summary: Obtener proveedor por ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Proveedor encontrado
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [proveedores]
      summary: Actualizar proveedor
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Proveedor actualizado
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [proveedores]
      summary: Eliminar proveedor
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Proveedor eliminado
        '404':
          $ref: '#/components/responses/NotFound'

  # VENTAS
  /sales:
    get:
      tags: [sales]
      summary: Listar ventas
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/search'
        - name: status
          in: query
          schema:
            type: string
        - name: paymentMethod
          in: query
          schema:
            type: string
        - $ref: '#/components/parameters/dateFrom'
        - $ref: '#/components/parameters/dateTo'
      responses:
        '200':
          description: Lista de ventas
    post:
      tags: [sales]
      summary: Crear venta
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Venta creada
        '422':
          $ref: '#/components/responses/Error422'

  /sales/{id}:
    get:
      tags: [sales]
      summary: Obtener venta por ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Venta encontrada
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [sales]
      summary: Actualizar venta
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Venta actualizada
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [sales]
      summary: Eliminar venta
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Venta eliminada
        '404':
          $ref: '#/components/responses/NotFound'

  /sales/stats:
    get:
      tags: [sales]
      summary: Estadísticas de ventas
      responses:
        '200':
          description: Estadísticas

  /sales/monthly:
    get:
      tags: [sales]
      summary: Ventas mensuales
      responses:
        '200':
          description: Datos mensuales

  /sales/{id}/status:
    patch:
      tags: [sales]
      summary: Actualizar estado de venta
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - estado
              properties:
                estado:
                  type: string
                  enum: [pendiente, completada, cancelada]
      responses:
        '200':
          description: Estado actualizado
        '404':
          $ref: '#/components/responses/NotFound'

  /sales/recent:
    get:
      tags: [sales]
      summary: Ventas recientes
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 5
      responses:
        '200':
          description: Lista de ventas recientes

  /sales/top-customers:
    get:
      tags: [sales]
      summary: Top clientes
      responses:
        '200':
          description: Lista de top clientes

  # ÓRDENES
  /orders:
    get:
      tags: [orders]
      summary: Listar órdenes
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
        - name: pageSize
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: sortBy
          in: query
          schema:
            type: string
            enum: [numero, fechaCreacion, total, estado]
        - name: sortDir
          in: query
          schema:
            type: string
            enum: [asc, desc]
        - name: sortOrder
          in: query
          schema:
            type: string
            enum: [asc, desc]
        - name: search
          in: query
          schema:
            type: string
        - name: q
          in: query
          schema:
            type: string
        - name: estado
          in: query
          schema:
            $ref: '#/components/schemas/OrderStatus'
        - name: canal
          in: query
          schema:
            $ref: '#/components/schemas/OrderChannel'
        - name: clienteId
          in: query
          schema:
            type: string
            format: uuid
        - name: usuarioId
          in: query
          schema:
            type: string
            format: uuid
        - name: sucursalId
          in: query
          schema:
            type: string
            format: uuid
        - name: dateFrom
          in: query
          schema:
            type: string
            format: date-time
        - name: dateTo
          in: query
          schema:
            type: string
            format: date-time
        - name: montoMinimo
          in: query
          schema:
            type: integer
            format: int64
        - name: montoMaximo
          in: query
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Lista de órdenes paginada
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/OrderResponse'
                  pagination:
                    type: object
                    properties:
                      page:
                        type: integer
                      limit:
                        type: integer
                      total:
                        type: integer
                      totalPages:
                        type: integer
                      hasNext:
                        type: boolean
                      hasPrev:
                        type: boolean
    post:
      tags: [orders]
      summary: Crear orden
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '201':
          description: Orden creada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Error422'

  /orders/{id}:
    get:
      tags: [orders]
      summary: Obtener orden por ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Orden encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [orders]
      summary: Actualizar orden
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderRequest'
      responses:
        '200':
          description: Orden actualizada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Error422'
    delete:
      tags: [orders]
      summary: Eliminar orden (soft delete)
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Orden eliminada
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: Orden ya procesada (completada/cancelada/reembolsada)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /orders/{id}/timeline:
    get:
      tags: [orders]
      summary: Timeline de eventos de orden
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Lista de eventos del timeline
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrderTimelineEvent'
        '404':
          $ref: '#/components/responses/NotFound'

  # CLIENTES
  /customers:
    get:
      tags: [customers]
      summary: Listar clientes
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/search'
        - name: estado
          in: query
          schema:
            type: string
        - name: canalComunicacion
          in: query
          schema:
            type: string
        - name: recibirPromociones
          in: query
          schema:
            type: boolean
        - $ref: '#/components/parameters/dateFrom'
        - $ref: '#/components/parameters/dateTo'
        - name: region
          in: query
          schema:
            type: string
        - name: ciudad
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Lista de clientes (incluye fecha y monto de última compra cuando aplica)
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Customer'
    post:
      tags: [customers]
      summary: Crear cliente
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Cliente creado
        '422':
          $ref: '#/components/responses/Error422'

  /customers/{id}:
    get:
      tags: [customers]
      summary: Obtener cliente por ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Cliente encontrado
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [customers]
      summary: Actualizar cliente
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Cliente actualizado
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [customers]
      summary: Eliminar cliente
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Cliente eliminado
        '404':
          $ref: '#/components/responses/NotFound'

  /customers/{id}/visits:
    get:
      tags: [customers]
      summary: Listar visitas / notas de un cliente
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista paginada de visitas con attachments[] embebido
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/CustomerVisit'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags: [customers]
      summary: Crear visita / nota
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [descripcion]
              properties:
                descripcion:
                  type: string
                  maxLength: 50000
                fecha:
                  type: string
                  format: date-time
      responses:
        '201':
          description: Visita creada (attachments vacío; subir archivos con POST .../visits/{visitId}/attachments)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerVisit'
        '422':
          $ref: '#/components/responses/Error422'

  /customers/{id}/visits/{visitId}/attachments:
    get:
      tags: [customers]
      summary: Listar adjuntos de una visita
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: visitId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista paginada de adjuntos de la visita
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/CustomerVisitAttachment'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags: [customers]
      summary: Subir adjunto a una visita
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: visitId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                descripcion:
                  type: string
                  maxLength: 500
      responses:
        '201':
          description: Adjunto de visita creado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerVisitAttachment'
        '422':
          $ref: '#/components/responses/Error422'
        '503':
          description: Storage no configurado

  /customers/{id}/visits/{visitId}/attachments/{attachmentId}/download:
    get:
      tags: [customers]
      summary: Descargar adjunto de visita
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: visitId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: attachmentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Archivo directo (dev local)
        '302':
          description: Redirect a URL presignada R2
        '404':
          $ref: '#/components/responses/NotFound'

  /customers/{id}/visits/{visitId}/attachments/{attachmentId}:
    delete:
      tags: [customers]
      summary: Eliminar adjunto de visita
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: visitId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: attachmentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Adjunto eliminado
        '404':
          $ref: '#/components/responses/NotFound'

  /customers/{id}/attachments:
    get:
      tags: [customers]
      summary: Listar adjuntos de un cliente
      description: |
        Metadata de archivos (imagen, PDF, Word, Excel). Descarga vía GET .../download con JWT.
        Tipos permitidos validados por magic bytes; límite 10 MB por archivo.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Lista paginada de adjuntos
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginatedResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/CustomerAttachment'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags: [customers]
[...]
